<div class="sidebar-container w-full flex flex-col justify-center">
    <div class="p-4">
        <a href="user/">
            <img class="w-full" src="assets/images/user/dashboard.png" alt="">
        </a>
    </div>
    <div class="p-4">
        <a href="user/createEvent">
            <img class="w-full" src="assets/images/user/calendar_add_on.png" alt="">
        </a>
    </div>
    <div class="p-4">
        <a href="user/registerEvent">
            <img class="w-full" src="assets/images/user/event_list_.png" alt="">
        </a>
    </div>
    <div class="p-4">
        <a href="user/bookTicket">
            <img class="w-full" src="assets/images/user/book_online.png" alt="">
        </a>
    </div>
    <div class="p-4">
        <a href="user/history">
            <img class="w-full" src="assets/images/user/history.png" alt="">
        </a>
    </div>
    <div class="p-4">
        <a href="user/feedback">
            <img class="w-full" src="assets/images/user/reviews.png" alt="">
        </a>
    </div>
</div>