<div class="navbar flex justify-between">
    <div class="nav-links" style="width: 30%;">
      <div class="company_logo nav-link" style="width: 60%;">
        <a class="wideDiv" routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
          <p class="montserrat-700 text-lg" >EventNexus</p>
        </a>
      </div>
      <div class="nav-link montserrat-400" style="width: 20%;">
        <a routerLink="news" routerLinkActive="active" ariaCurrentWhenActive="page">News</a>
      </div>
      <div class="nav-link montserrat-400" style="width: 20%;">
        <a routerLink="storySoFar" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
      </div>
    </div>
    <div class="user-auth-link">
      <div class="preorder-link">
        <a routerLink="login" class="montserrat-400" routerLinkActive="active" >Login</a>
      </div>
      <div class="signup-link">
        <a routerLink="signup" class="montserrat-400" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
      </div>
    </div>
</div>
